body {
    background-color: rgba(0, 0, 0, 0.777);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slider {

}

input[type='radio'] {
    visibility: hidden;
}

.slides{
    display: flex;
    overflow: hidden;
    width: 50vw;
 }


.slide1 {
    width: 50vw;
    height: 300px;
    flex-shrink: 0;
    background-color: red;
    transition: 0.5s;
}

.slide2 {
    width: 50vw;
    height: 300px;
    flex-shrink: 0;
    background-color: yellow;
    transition: 0.5s;
}

.slide3 {
    width: 50vw;
    height: 300px;
    flex-shrink: 0;
    background-color: black;
    transition: 0.5s;
}

.slide4 {
    width: 50vw;
    height: 300px;
    flex-shrink: 0;
    background-color: purple;
    transition: 0.5s;
}



.slider__container {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

.slider__navigation {
    order: 2;
    margin-top: 1rem;
    display: flex;
    width: 7vw;
    justify-content: space-between;
}

label:checked {
    background-color: black;
}

label {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

label:hover .circle{
    background-color: rgb(135, 49, 255);
    outline-color: rgb(135, 49, 255) !important;
}

label:active .circle{
    background-color: rgb(172, 127, 236);
}

.circle {
    width: 1rem;
    height: 1rem;
    background-color: rgb(172, 127, 236);
    border-radius: 100%;
    transition: 0.3s;
    outline: 0.2rem solid rgb(172, 127, 236);
    outline-offset: -0.2rem;
}

.slider__info {
    color: #adadad;
    display: flex;
    overflow: hidden;
    width: 10vw;
}

.slider__info p {
    transition: 0.5s;
    width: 10vw;
    flex-shrink: 0;
}



/* Первый контрол активен */
#control1:checked ~ .slider__container .slider__navigation .label-control1 .circle {
    background-color: transparent;
    outline-offset: -0.1rem;
 }

 #control1:checked ~ .slides .slide1,  #control1:checked ~ .slider__container .slider__info .slide1-text{
    margin-left: 0%;
 }



/* Второй контрол активен */

#control2:checked ~ .slider__container .slider__navigation .label-control2 .circle {
    background-color: transparent;
    outline-offset: -0.1rem;
 }

 #control2:checked ~ .slides .slide1, #control2:checked ~ .slider__container .slider__info .slide1-text {
    margin-left: -100%;
 }

 /* Тертий контрол активен */

 #control3:checked ~ .slider__container .slider__navigation .label-control3 .circle {
    background-color: transparent;
    outline-offset: -0.1rem;
 }

 #control3:checked ~ .slides .slide1, #control3:checked ~ .slider__container .slider__info .slide1-text {
    margin-left: -200%;
 }

/* Четвертый контрол активен */

#control4:checked ~ .slider__container .slider__navigation .label-control4 .circle {
    background-color: transparent;
    outline-offset: -0.1rem;
 }

 #control4:checked ~ .slides .slide1, #control4:checked ~ .slider__container .slider__info .slide1-text {
    margin-left: -300%;
 }